h3{
    font-size: 25px; 
}
h1{
    font-family: 'Franklin Gothic Medium';
    font-style: oblique;
    text-align: center;
}
#main{
    border: 5px double black;
    float: left;
    height: 70%;
    width: 43%;
}
#info{
    border: 2px dashed blueviolet;
    margin: 5px;
    font-size: 18px;
    font-family: Comic Sans MS;
}
#experience{
    border: 2px dotted green;
    margin: 5px;
    font-family: 'Segoe UI';
    font-size: 18px;
}
#interests{
    border: 2px groove darkorange;
    margin: 5px;
    font-family: 'Segoe UI';
    font-size: 18px;
}
#content{
    border: 5px double darkred;
    padding: 8px;
    width: 52%;
    height: 68%;
    float: right;
    text-align: justify;
    font-size: 25px;
    font-family: 'Gill Sans';
}